{% extends 'base.html.twig' %}

{% block title %}Hello MesureController!{% endblock %}

{% block stylesheet %} {% endblock %}

{% block body %}
    <div class="controle">
    {{ form_start(form) }}
        <div class="controle-element">
            {{ form_label(form.mode) }}
            <label class="switch"> 
                {{ form_widget(form.mode) }}
                <span class="slider round"></span>
            </label>
        </div>
        <div class="controle-element" id="temperature">
            {{ form_row(form.tempConsigne) }}
        </div>
        <div class="controle-element" id="humidity">
                {{ form_row(form.SoilHumidity) }}
        </div>
        <div class="controle-element" id="arrosage" >
            {{ form_row(form.arrosage) }}
            {{ form_row(form.ventilation) }}
        </div>
    {{ form_end(form) }}
    </div>
    <div class="wrapper">
        {{ render_chart(chart, {'canva': 'my-chart'}) }}
    </div>
</div>
{% endblock %}
